* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: white;/*linear-gradient(120deg, #f8d04c, #d1836d);*/
    /*color: white;*/
    font-family: 'Rancher', Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.search {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 30vw;
}
form{
    min-height: 4vh;
    display: flex; 
    /* justify-content: center;
    align-items: center;*/
} 
h2 {
    font-size: 2rem;
    margin: 5vw;
    margin-bottom: 20px;
}
form {
    margin-left: 5vw;
    margin-bottom: 5vh;
}
form input, form button{
    padding: 0.5rem;
    font-size: 1.3rem;
    border: 1px solid green;
    border-radius: 4px;
    /* background: rgb(187, 180, 180); */
}

form button{
    color: green;
    /* background: green; */
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: green;
    color: greenyellow;
}

.item-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15vw;
    margin-top: 30px;
    min-height: 50vh;
}

.task-item {
    display: flex;
    align-items: left;
}